<%- include('parts/header.ejs', {css: ['index.css', 'header.css']}) %>
  <!-- final header -->


   <section class="home" id="home">
    <div class="home-text">
        <h1>Star your Day<br> whith coffee</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officiis iste sit saepe ratione vitae expedita? Eos ipsum, dolor corrupti pariatur, veritatis sequi magni ut nam vel provident odit quasi.</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="home img">
        <img src="/img/vetor-home.png" alt="">
    </div>
   </section>

   <!--produto -->

   <section class="produtos" id="produtos">
    <div class="cabecalho-produto">
        <h2>Produtros Populares</h2>
    </div>
    <!-- container -->

 

    <div class="produtos-container">
        <div class="box">
            <% for(p of produto) { %>

                <div class="link">

                    <a class="produtos-link" href="./produto/detalhe/<%= p.id %>">
                        <img src=<%= p.img %> alt="<%= p.nome %>">
                        <h3> <%= p.detalhes %>> </h3>
                    </a>
                </div>
                
                <div class="conteudo">
                    <span>$<%= p.preco %>></span>
                    <a href="#">Adicione ao carrinho</a>
                </div>


            <% } %>

    </div>
   </section>

 

   <footer>
    <div class="footer-content">



        <h3>code opacity</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facere repellendus commodi molestiae consequatur iste? Consequuntur, fugiat perspiciatis voluptatem aut est dicta culpa modi laborum in tempora, assumenda itaque quos!</p>
        <ul class="socials">

            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023 codeOpacity desing by <span>Luiz Felipe</span> </p>
    </div>
</footer>

    
  <script src="/js"></script>
</body>
</html>